*{
    padding: 5px;
    margin: 10px;
    border: 0px;
}

body{
    background-color: yellow;
}
.padre{
    background-color: rgb(131, 8, 35);
    padding: 15px;
    margin: 5px;
}
.TITULO{
    background-color: rgb(255, 0, 0);
}
.contenido{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 500px;
}
.menu{
    background-color: yellowgreen;
}
.pie{
    background-color: steelblue;
}
.c1{
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 50px;
    position: absolute;
    top: 200px;
    right: 550px;
    padding: 190px;
}
.c2{
    background-color: rgb(255, 217, 0);
    width: 200px;
    height: 50px;
    position: absolute;
    top: 270px;
    right: 630px;
    padding: 120px;
}
.c3{
    background-color: rgb(0, 255, 34);
    width: 200px;
    height: 50px;
    position: absolute;
    top: 320px;
    right: 680px;
    padding: 70px;
}
.c4{
    background-color: rgb(0, 17, 255);
    width: 100px;
    height: 20px;
    position: absolute;
    top: 380px;
    right: 850px;
    padding: 10px;
}
.c5{
    background-color: rgb(0, 17, 255);
    width: 100px;
    height: 20px;
    position: absolute;
    top: 380px;
    right: 700px;
    padding: 10px;
}
